
function print_red(){
    echo -e '\033[0;31;1m'
    echo "$@"
    echo -e '\033[0m'
}

function print_green(){
    echo -e '\033[0;32;1m'
    echo "$@"
    echo -e '\033[0m'
}

function print_yellow(){
    echo -e '\033[0;33;1m'
    echo "$@"
    echo -e '\033[0m'
}
